html
	head 
		title Time for results
		link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
	body 
		div(class="row")
			div(class="col-sm-5")
			h1(class="col-sm-5") Hey, #{ userData.name }, here are your results
		div(class="row")
			div(class="col-sm-2")
			div(class="col-sm-8")
				p The S and P 500 is an index fund known by investors worldwide. We calculated how much money you would have retired with if you invested in the S and P 500 from 1950 to 2015
				p #{userData.pension.endamount.sp500}

			div(class="col-sm-2")
		script(src="/js/jquery-3.1.1.min.js")